
// Global styles for text
body {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito Sans', serif;
  margin: 0;
}

h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 35px;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-size: 28px;
  @media (max-width: 767px) {
    font-size: 21px;
  }
}
h4,
.h4 {
  font-size: 21px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 12px;
}



.text-nowrap { 
  white-space: nowrap; 
}

.text-justify { 
  text-align: justify; 
}

.text-lowercase  { 
  text-transform: lowercase; 
}

.text-uppercase  { 
  text-transform: uppercase; 
}

.text-capitalize { 
  text-transform: capitalize; 
}

.text-underline {
  &, &--hover:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.font-bold{
  font-weight: bold;
}
.font-normal{
  font-weight: normal;
}
